<div>
    <br>

    <ol>
        {{#each functions}}
            <li>
                <div><strong>{{name}}</strong></div>
                <br>
                <div><i>{{description}}</i></div>

                <br>

                <div>
                        {{>title data="Parameters:"}}
                    {{#each parameters}}
                        <div><mark>{{name}}</mark></div>
                        <div><em>{{type}}</em></div>
                        <div><small>{{description}}</small></div>
                        <br>
                    {{/each}}
                </div>
                <hr>
            </li>
        {{/each}}
    </ol>
</div>